# Ignore everything
*

# Allow the Frontend directory and all its contents
!Frontend/
!package.json/
!package-lock.json/
yarn.lock/
!Frontend/**

# Specifically ignore constants folder inside Frontend/app
Frontend/app/constants/
