# Ignore everything
*

# Allow app/screens directory
!app/
!app/screens/
!app/screens/**

# Node modules
node_modules/

# Environment variables
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.tmp
*.log
.DS_Store
Thumbs.db
